<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CountDaysFromChristBirthday.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <applicationSettings>
        <CountDaysFromChristBirthday.Properties.Settings>
            <setting name="CountDaysFromChristBirthday_ChristService_DaysCounter"
                serializeAs="String">
                <value>http://localhost:52433/WebFile.asmx</value>
            </setting>
        </CountDaysFromChristBirthday.Properties.Settings>
    </applicationSettings>
</configuration>